.buttonA{
      padding: 0.9rem 1.8rem;
    margin: 0.4rem;

    color: white;
    font-weight: 600;
    font-size: 1rem;

    background-color: rgb(73, 73, 108);

    border: 0.1rem solid rgb(98, 98, 171);
    border-radius: 1.4rem;

    box-shadow:
        0rem 0rem 4rem rgba(121, 121, 184, 0.5),
        inset 0rem 0rem 3rem rgba(69, 69, 80, 0.7);

    cursor: pointer;
}
